<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Heroic Features - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/bootstrap/assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/bootstrap/css/styles.css" rel="stylesheet"/>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #body-wrapper {
            min-height: 100%;
            position: relative;
        }

        #content {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 100px;
            padding-bottom: 300px;
        }
    </style>
</head>
<body>

<div id="body-wrapper">
    <!-- Responsive navbar-->
    <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
    <div id="content">

        <div class="container">
            <div class="row">
                <div style="overflow-y: scroll; width:50%; height:500px;">
                    <div th:each="product : ${productList}" th:if="${product.getSell() eq 1}" class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.getName()}"></h5>
                            <p th:text="|상품 코드 : ${product.getCode()}|"></p>
                            <p th:text="|상품 가격 : ${product.getPrice()}|"></p>
                            <p th:text="|재고 수량 : ${product.getQuantity()}|"></p>
                            <form method="post" action="/sale/add">
                                <input type="text" id="pid" name="pid" th:value="${product.getId()}" hidden>
                                <input type="number" id="quantity" name="quantity"
                                       min="1" th:max="${product.getQuantity()}" required>
                                <button type="submit" class="btn btn-primary">추가하기</button>
                            </form>

                        </div>
                    </div>
                </div>

                <div style="overflow-y: scroll; width:50%; height:500px;">
                    <div th:each="sale : ${saleCartDetailList}" class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${sale.getName()}"></h5>
                            <p th:text="|제품 가격 : ${sale.getPrice()}|"></p>
                            <p th:text="|계산 대기 수량 : ${sale.getQuantity()}|"></p>
                            <p th:text="|총 결제 금액 : ${sale.getPrice()*sale.getQuantity()}원|"></p>
                            <form th:action="@{'/sale/delete/' + ${sale.getPid()}}" method="post">
                                <button id="delete-btn">삭제</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>

            <div>
                <h5 th:text="|총 계산금액 : ${totalCost}|"></h5>
                <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    계산하기모달
                </button>
                <a href="/sale/reset" class="btn btn-primary btn-lg">초기화하기</a>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">취소</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5 th:text="|총 계산금액 ${totalCost}원을 계산하시겠습니까?|"></h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="/sale/calculate" class="btn btn-primary btn-lg">계산하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Footer-->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>

</div>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/bootstrap/js/scripts.js"></script>
</body>
</html>
