<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Heroic Features - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/bootstrap/assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/bootstrap/css/styles.css" rel="stylesheet"/>
    <link href="/bootstrap/css/paging.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <style>
        body, html{
            margin: 0;
            padding: 0;
            height: 100%;
        }
        #body-wrapper {
            min-height: 100%;
            position: relative;
        }
        #content{
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 100px;
            padding-bottom: 300px;
        }
    </style>
</head>
<body>

<div id="body-wrapper">
    <!-- Responsive navbar-->
    <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>
    <div id="content">

        <div align="center">
            <table id="products" class="table">

                <thead>
                <tr>
                    <th>처리직원ID</th>
                    <th>제품이름</th>
                    <th>가격</th>
                    <th>수량</th>
                    <th>날짜 시간</th>
                    <th>방법</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="productHistory : ${productHistories}">
                    <td th:text="${productHistory.getMid()}"></td>
                    <td th:text="${productHistory.getName()}"></td>
                    <td th:text="${productHistory.getPrice()}"></td>
                    <td th:text="${productHistory.getQuantity()}"></td>
                    <td th:text="${productHistory.getTime()}"></td>
                    <td th:text="${productHistory.getMethod()}"></td>
                </tr>
                </tbody>

            </table>
        </div>

    </div>
    <!-- Footer-->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</div>

<script>
    $(function(){
        var rowPerPage = 10;//$('[name="rowPerPage"]').val() * 1;// 1 을  곱하여 문자열을 숫자형로 변환

        var zeroWarning = 'Sorry, but we cat\'t display "0" rows page. + \nPlease try again.'
        if (!rowPerPage) {
            alert(zeroWarning);
            return;
        }
        $('#nav').remove();
        var $products = $('#products');

        $products.after('<div id="nav">');


        var $tr = $($products).find('tbody tr');
        var rowTotals = $tr.length;

        var pageTotal = Math.ceil(rowTotals/ rowPerPage);
        var i = 0;

        for (; i < pageTotal; i++) {
            $('<a href="#"></a>')
                .attr('rel', i)
                .html(i + 1)
                .appendTo('#nav');
        }

        $tr.addClass('off-screen')
            .slice(0, rowPerPage)
            .removeClass('off-screen');

        var $pagingLink = $('#nav a');
        $pagingLink.on('click', function (evt) {
            evt.preventDefault();
            var $this = $(this);
            if ($this.hasClass('active')) {
                return;
            }
            $pagingLink.removeClass('active');
            $this.addClass('active');

            // 0 => 0(0*4), 4(0*4+4)
            // 1 => 4(1*4), 8(1*4+4)
            // 2 => 8(2*4), 12(2*4+4)
            // 시작 행 = 페이지 번호 * 페이지당 행수
            // 끝 행 = 시작 행 + 페이지당 행수

            var currPage = $this.attr('rel');
            var startItem = currPage * rowPerPage;
            var endItem = startItem + rowPerPage;

            $tr.css('opacity', '0.0')
                .addClass('off-screen')
                .slice(startItem, endItem)
                .removeClass('off-screen')
                .animate({opacity: 1}, 300);

        });

        $pagingLink.filter(':first').addClass('active');
    });
</script>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/bootstrap/js/scripts.js"></script>
</body>
</html>
