<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Heroic Features - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/bootstrap/assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/bootstrap/css/styles.css" rel="stylesheet"/>
    <style>
        body, html{
            margin: 0;
            padding: 0;
            height: 100%;
        }
        #body-wrapper {
            min-height: 100%;
            position: relative;
        }
        #content{
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 100px;
            padding-bottom: 300px;
        }
    </style>
</head>
<body>

<div id="body-wrapper">

    <!-- Responsive navbar-->
    <th:block th:replace="fragments/navbar :: navbarFragment"></th:block>

    <div id="content">
        <h1>회원 정보</h1>
        <hr>
        <h5>[[${loginmember.email}]]</h5><br>
        <h5>[[${loginmember.name}]]</h5><br>
        <h5 th:text="${loginmember.getRole()}">[[${loginmember.role}]]</h5><br>
        <h5>[[${loginmember.registerDate}]]</h5><br>
        <a href="/member/update" class="btn btn-primary btn-lg">정보 수정하기</a><br>
        <hr>

        <h1>판매 조회</h1>
        <table class="table">
            <tr>
                <th>판매 ID</th>
                <th>총 판매 가격</th>
                <th>시간</th>
                <th>상세보기</th>
            </tr>
            <tr th:each="sale : ${sales}">
                <th th:text="${sale.getId()}"/>
                <th th:text="${sale.getPrice()}"/>
                <th th:text="${sale.getDatetime()}"/>
                <td><a th:href="@{/statistics/sale/{saleId}(saleId=${sale.getId()})}" th:text="상세보기">상세보기</a></td>
            </tr>
        </table>

        <h1>상품 변경 조회</h1>
        <table class="table">
            <tr>
                <th>상품 ID</th>
                <th>상품 이름</th>
                <th>상품 가격</th>
                <th>상품수량</th>
                <th>방법</th>
                <th>시간</th>
            </tr>
            <tr th:each="productHistory : ${productHistories}">
                <th th:text="${productHistory.getPid()}"/>
                <th th:text="${productHistory.getName()}"/>
                <th th:text="${productHistory.getPrice()}"/>
                <th th:text="${productHistory.getQuantity()}"/>
                <th th:text="${productHistory.getMethod()}"/>
                <th th:text="${productHistory.getTime()}"/>
            </tr>
        </table>

        <h1>상품 상태 변경 조회</h1>
        <table class="table">
            <tr>
                <th>제품 ID</th>
                <th>제품 이름</th>
                <th>제품 새이름</th>
                <th>제품 가격</th>
                <th>제품 새가격</th>
                <th>제품 상태</th>
                <th>시간</th>
            </tr>
            <tr th:each="productStateHistory : ${productStateHistories}">
                <th th:text="${productStateHistory.getPid()}"/>
                <th th:text="${productStateHistory.getName()}"/>
                <th th:text="${productStateHistory.getNewname()}"/>
                <th th:text="${productStateHistory.getPrice()}"/>
                <th th:text="${productStateHistory.getNewprice()}"/>
                <th th:text="${productStateHistory.getState()}"/>
                <th th:text="${productStateHistory.getDatetime()}"/>
            </tr>
        </table>

        <th:block th:if="${loginmember.getRole() == 'MANAGER'}">
            <h1>계정정보</h1>
            <table class="table">
                <tr>
                    <th>email</th>
                    <th>이름</th>
                    <th>직책</th>
                    <th>상세보기</th>
                </tr>
                <tr th:each="member : ${members}" th:if="${member.getId() != loginmember.getId()}">
                    <th th:text="${member.getEmail()}"/>
                    <th th:text="${member.getName()}"/>
                    <th th:text="${member.getRole()}"/>
                    <td><a th:href="@{/member/detail/{memberId}(memberId=${member.getId()})}" th:text="상세보기">상세보기</a></td>
                </tr>
            </table>
        </th:block>
    </div>

    <!-- Footer-->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/bootstrap/js/scripts.js"></script>
</body>
</html>
